/* CSS for testing out js */

/* Make images responsive */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Container for products */
.product-container {
  max-width: 100rem;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

/* Make card element stack on top of each other */
.stacked {
  display: grid;
}

/* Make card elements occupy same cell */
.stacked > * {
  grid-column: 1/2;
  grid-row: 1/2;
}

/* Responsive grid for drinks*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  justify-items: center;
  gap: 8px;
  padding: 1rem 0;
}

/* Basic style for cards */
.product-card {
  background-color: white;
  aspect-ratio: 1 / 1.5;
  padding: 1em;
  background-color: white;
  border: 1px solid #b2dfdb;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

/* Scale product images scale with card */
.product-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* Make product info to stay att the bottom */
.product-info {
  align-self: end;
  text-align: center;
}

/* Product name styling */
.product-name {
  font-size: 18px;
  color: #004d40;
  margin: 5px 0;
}

/* Product price styling */
.product-price {
  display: inline-block;
  font-size: 16px;
  color: #00695c;
  margin: 5px 0;
}
