/* **************** */
/*    Typography    */
/* **************** */

/* ********************* */
/*    General Styling    */
/* ********************* */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  width: 100%;
  min-height: 100vh;
  background-color: #f8f8f8;
}

/* Make images responsive */
img,
picture {
  max-width: 100%;
  display: block;
}

/* ************ */
/*    Header    */
/* ************ */

.site-header h1 {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 80px;
  color: white;
  background-color: rgba(16, 16, 16, 0.97);
}

/* ********** */
/*    Main    */
/* ********** */

main {
  width: 100%;
  margin: 0 auto;
  min-height: calc(100vh - 42px);
  padding-top: 80px; /* Pushes the content below the header*/
}

/* ********** */
/*  Accordion */
/*   section  */
/* ********** */

.accordion_button {
  display: block;
  width: 100%;
  padding: 18px;
  height: 70px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  color: #000000;
  background-image: linear-gradient(270deg, #8ec5fc 0%, #e0c3fc 100%);
  text-align: left;
  transition: background 0.5s;
}

.accordion_button::after {
  content: "\25be"; /*Down-arrow*/
  float: right;
  transform: scale (1.5);
}

.accordion_button--active::after {
  content: "\25b4"; /* Up-arrow */
}

.accordion_content {
  overflow: hidden;
  transition: max-height 0.2s;
  padding: 0 15px; /* Padding for the content */
}

/* ********** */
/*  Food and  */
/*   drinks   */
/* ********** */

/* ************ */
/*    Grid-     */
/*    Layout    */
/* ************ */

/* Container for products */
.product-container {
  max-width: 100rem;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

/* Make card element stack on top of each other */
.stacked {
  display: grid;
}

/* Make card elements occupy same cell */
.stacked > * {
  grid-column: 1/2;
  grid-row: 1/2;
}

/* Responsive grid for drinks*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  justify-items: center;
  gap: 8px;
  padding: 16px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f0ff;
}

/* Basic style for cards */
.product-card {
  padding: 1em;
  aspect-ratio: 1 / 1.5;
  background-color: white;
  border: 1px solid #b2dfdb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

/* Grouped styling for .snacks and .dryck for less repetition */
.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Scale product images scale with card */
.product-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* Make product info to stay att the bottom */
.product-info {
  align-self: end;
  text-align: center;
}

/* Product name styling */
.product-name {
  font-size: 1.2rem;
  color: #004d40;
}

/* Product price styling */
.product-price {
  font-size: 1.1rem;
  color: #00695c;
}

/* ********** */
/*    Cart    */
/* ********** */

.cart-open-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 48px;
  right: 20px;
  padding: 15px;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 12px 0px;
  background: rgba(0, 0, 0, 0.747);
  cursor: pointer;
  border: none;
  backdrop-filter: blur(10px);
}

.cart-open-button:hover {
  transform: scale(1.1); /* Increases the size when hover */
}

.cart-open-button svg {
  width: 35px;
  height: 35px;
  fill: none;
  stroke: white;
  stroke-width: 1.25;
  stroke-linecap: round;
  stroke-linejoin: round;
  padding-right: 5px;
}

.cart-count {
  position: absolute;
  bottom: -5px;
  right: -10px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(45deg, #e2231a, #e21a90);
  color: white;
  font-size: 14px;
  font-weight: bold;
  visibility: hidden; /* Hides the count if cart is empty */
}

.cart-count.visible {
  visibility: visible;
}

.cart-popup {
  position: fixed;
  /* top: 100px; */
  bottom: 0;
  left: 0;
  width: 100%;
  /* min-height: 100vh; */
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  justify-content: space-around;
  align-items: center;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  border-radius: 10px 10px 0 0;
  z-index: 1; /* To make the cart slide up behind the footer */
  font-family: Open Sans;
}

.cart-popup.visible {
  opacity: 1;
  transform: translateY(0);
  z-index: 3;
}

.close-cart-button {
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
}

.close-cart-button:hover {
  color: gray;
}

/* ************ */
/*    Footer    */
/* ************ */

.site-footer p {
  width: 100%;
  height: 42px;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  background-color: #101010;
  color: rgb(241, 239, 239);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ************ */
/* Cart design  */
/* ************ */

.cart-img-container {
  width: 60px;
  display: flex;
}
.cart-img {
  width: 100%;
  height: 100%;
}
.cart-product {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 370px;
  justify-content: space-around;
  padding-right: 20px;
  box-shadow: 0px 0px 22px -8px rgba(0, 0, 0, 0.75);
  height: 100px;
}
.product-description {
  font-style: italic;
  color: #747474;
  font-size: small;
}

.cart-product-info {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1px;
}

.quantity-buttons {
  display: flex;
  padding: 10px;
  border: solid 1px;
  border-radius: 10px;
  width: 80px;
  justify-content: space-between;
  margin: 15px;
  cursor: pointer;
}

.swish-button {
  display: flex;
  width: 370px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 22px -8px rgba(0, 0, 0, 0.75);
  padding-block: 10px;
}
.swish-logo {
  width: 60px;
  flex-grow: calc(0.5);
}
.total {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px dashed;
}
.card-container {
  width: 370px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 30px;
  padding-top: 20px;
  height: 230px;
  overflow: hidden;
}
.card-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.input-section-l {
  flex: 1;
  padding-left: 40px;
}

.input-section-r {
  flex: 0.2;
  padding-right: 40px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 14px;
  font: inherit;
}

.card-line {
  background-color: black;
  height: 40px;
  margin-bottom: 10px;
}

.card-btn {
  width: 100%;
  height: 40px;
  outline: none;
  background-color: black;
  color: white;
  border: none;
  font: inherit;
  border-radius: 10px;
  cursor: pointer;
  font-size: larger;
  font-weight: 400;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}
