/* **************** */
/*    Typography    */
/* **************** */

/* Headings */
h1 { font-size: initial; color: var(--h1-color); }
h2 { font-size: initial; color: var(--h2-color); }
h3 { font-size: initial; color: var(--h3-color); }

/* Text */
p { font-size: initial; color: var(--p-color); }

/* Links & Buttons */
a { text-decoration: none; color: var(--link-color); }
a:hover { text-decoration: underline; color: var(--link-color-hover); }

/* ********************* */
/*    General Styling    */
/* ********************* */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color); 
  width: 100%;
  min-height: 100vh;
}

/* ************ */
/*    Header    */
/* ************ */

.site-header h1{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 80px;
  background-color:#101010;
  font-size: 19px;
  color: rgb(241, 239, 239); 
}

/* ********** */
/*    Main    */
/* ********** */

main {
  width: 100%;
  margin: 0 auto;
  min-height: calc(100vh - 38px);
  padding-top: 80px; /* Pushes the content below the header*/
}

/* Drinks Section */
main section#section_drinks {
  width: 100%;
}

/* Snacks Section */
main section#section_snacks {
  width: 100%;
}

/* ********** */
/*    Cart    */
/* ********** */

.cart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 48px;
  right: 20px;
  padding: 15px;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 12px 0px;
  background-color: black;
  cursor: pointer;
}

.cart-icon:hover {
  transform: scale(1.1); /* Increases the size when hover */
}

.cart-icon img {
  width: 35px; 
  height: 35px; 
}

.cart-count {
  position: absolute;
  bottom: -5px;
  right: -10px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.cart-popup {
    position: fixed;
    top: 80px; /* Should be same as header height to push the content below the header */
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: calc(100vh - 118px);
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    visibility: hidden; /* Hides the cart initially */
    justify-content: center;
    transition: opacity 0.3s ease-in-out
}

.cart-popup.visible {
  visibility: visible; /* Shows the cart when visible class is added */	
}

.cart-popup-content {
  background-color: white;
  border-radius: 5px;
  width: 80%;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 8px 0px;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  position: relative;
}

.close-cart {
  background: none;
  border: none; 
  font-size: 30px;
  color: #272727;
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
}

.close-cart:hover {
  color: white;
}

/* ************ */
/*    Footer    */
/* ************ */

.site-footer p{
  width: 100%;
  height: 38px;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background-color:#101010;
  color: rgb(241, 239, 239); 
}